@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 3.5rem;

    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: hsla(199, 98%, 50%, 0.3);
    --black-color: hsl(0, 0%, 0%);
    --black-color-light: hsl(0, 0%, 40%);
    --white-color: hsl(0, 0%, 95%);
    --title-color: hsl(0, 0%, 0%);
    --text-color: hsl(0, 0%, 35%);
    --text-color-light: hsl(0, 0%, 64%);
    --body-color: hsl(0, 0%, 87%);
    --container-color: hsl(0, 0%, 83%);

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Bai Jamjuree", sans-serif;
    --biggest-font-size: 2.5rem;
    --h1-font-size: 1.75rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

/*========== z index ==========*/
--z-tooltip: 10;
--z-fixed: 100;
}



.about{
    background-color: var(--container-color);
    transition: background-color .4s ;
}
.about__container{
    row-gap: 0;
    margin: 0 auto;
}
.about__perfil{
    position: relative;
    justify-self: center;
    margin-block: 2.5rem 4.5rem;

}
.about__image{
    width: 220px;
}
.about__img{
    position: relative;
    border: 4px solid var(--white-color);
    z-index: 1;
}
.about__shadow,
.about__line,
.about__box{
    position: absolute;
}

.about__shadow{
    width: 150px;
    height: 385px;
    background-color: var(--body-color);
    top: -2.5rem;
    right: -2.5rem;
    border-bottom: 4px solid var(--first-color);

}
.about__perfil .geometric-box{
    top: 1.5rem;
    right: -2.8rem;
}
.about__line{
    filter: invert(1);
    right: -1.25rem;
    top: 6px;
    width: 50px;
    transition: filter .4s;

}
.about__box{
    width: 40px;
    height: 40px;
    background-color: var(--first-color);
    right: -3rem;
    bottom: 1.5rem;

}
.about__info{
    padding-left: 1.25rem;
}
.about__description{
    position: relative;
    color: var(--title-color);
    margin-bottom: 1.5rem;
}
.about__description > p{
    font-size: .7rem;
}

.about__description::after{
    content: "";
    width: 20px;
    height: 1px;
    background-color: var(--title-color);
    position: absolute;
    left: -1.75rem;
    top: .5rem;
}

.about__list{
    list-style: square;
    color: var(--title-color);
    margin-bottom: 3rem;

}
.about__buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
}
.button__ghost,
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;

}
.button{
    background-color: var(--black-color);
    padding: 1.1rem 1.5rem;
    color:var(--white-color);
    font-weight: var(--font-medium);
    transition: background-color .4s;
}

.button-contact{
    background-color: var(--first-color);
    padding: 1.1rem 1.5rem;
    color:var(--white-color);
    font-weight: var(--font-medium);
    transition: background-color .4s;
}
.button i{
    font-size: var(--h2-font-size);

}
.button:hover{
    background-color: var(--first-color);
}

.button__ghost{
    border: 3px solid var(--black-color);
    padding: .5rem;
    transition: border .4s, color .4s;
}
.button__ghost i{
    font-size: var(--h2-font-size);
}

.button__ghost:hover{
    border: 3px solid var(--first-color);
}
