@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 3.5rem;

    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: hsla(199, 98%, 50%, 0.943);
    --black-color: hsl(0, 0%, 0%);
    --black-color-light: hsl(0, 0%, 40%);
    --white-color: hsl(0, 0%, 95%);
    --title-color: hsl(0, 0%, 0%);
    --text-color: hsl(0, 0%, 35%);
    --text-color-light: hsl(0, 0%, 64%);
    --body-color: hsl(0, 0%, 87%);
    --container-color: hsl(0, 0%, 83%);

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Bai Jamjuree", sans-serif;
    --biggest-font-size: 2.5rem;
    --h1-font-size: 1.75rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

/*========== z index ==========*/
--z-tooltip: 10;
--z-fixed: 100;
}




.contact{
    padding-bottom: 0;
}
.contact__container{
    position: relative;
    grid-template-rows: 300px max-content max-content;
    row-gap: 0;
}
.contact__dat{
    position: relative;
    width: 300px;
    height: 300px;
    background-color: var(--container-color);
    padding: 3rem 1.5rem 3.5rem;
    margin-left: auto;
    border-bottom: 4px solid var(--first-color);
    z-index: 5;
    transition: background-color .4s;
}
.contact__dat .section__title-2{
    margin: 0 0 1.5rem ;
    transform:  translateX(-3rem);
}
.contact__description-1{
    color: var(--title-color);
    font-weight: var(--font-medium);
    margin-bottom: 2rem;
}
.contact__description-2{
    color: var(--title-color);
    font-size: var(--small-font-size);
}

.contact__dat .geometric-box{
    top: 2rem;
    right: 2.5rem;
}

.contact__mail{
    position: relative;
    background-color: var(--black-color);
    padding: 5rem 1.5rem 2.5rem;
    margin-top: -2.5rem;
    transition: background-color .4s;

}
.contact__title{
    color: var(--white-color);
    font-size: var(--h2-font-size);
    margin-bottom: 2rem;
    text-align: center;
}
.contact__form,
.contact__group{
    display: grid;
    row-gap: 1.25rem;
}


.contact__form{
    position: relative;
}
.contact__box{
    position: relative;
    width: 100%;
    height: 58%;
}
.contact__input,
.contact__button{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    outline: none;
    border: none;
}
.contact__input{
    
    width: 100%;
    
    background-color: var(--black-color);
    border: 3px solid var(--black-color);
    color: var(--white-color);
    padding: 1rem 1rem;
    
    font-weight: var(--font-medium);
    transition: border .4s, background-color .4s;
   

}

.contact__input::placeholder{
    color: var(--text-color-light);
    transition: opacity .4s;

}
.contact__input:focus{
    border: 3px solid var(--white-color);

}
.contact__input:-webkit-autofill{
    transition: background-color 6000s, color 6000s;
}

.contact__label{
    position: absolute;
    top: 8px;
    left: 10px;
    color: var(--text-color-light);
    font-size:var(--small-font-size);
    font-weight: var(--font-medium);
    background-color: var(--black-color);
    padding: 8px;
    pointer-events: none;
    transition: top .4, opacity .4s, background-color .4s;
    opacity: 0;
}
.contact__button{
    background-color: var(--first-color);
}
.contact__input:focus + .contact__label,
.contact__input:not(:placeholder-shown).contact__input:not(:focus) + .contact__label{
    opacity: 1;
    top: -16px;
}

.contact__social{
    display: grid;
    row-gap: 1rem;
    background-color: hsl(0, 0%, 10%);
    padding-block: 1rem 2rem;
    text-align: center;
}
.contact__social-arrow{
    width: 23px;
    margin: 0 auto;

}
.contact__social-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    

}
.contact__social-decription{
    color: var(--text-color-light);
    font-size: var(--small-font-size);
    margin-bottom: .5rem;

}

.contact__social-decription-2{
    color: var(--white-color);
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
}
.contact__social-link{
    
display: flex;
justify-content: center;
gap: 2rem;
width: 200px;



}
.contact__social-link-a{
    padding: 5px;
   
   

}
.bnt-footer{
    color: white;
}
