/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 3.5rem;

    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: hsla(199, 98%, 50%, 0.3);
    --black-color: hsl(0, 0%, 0%);
    --black-color-light: hsl(0, 0%, 40%);
    --white-color: hsl(0, 0%, 95%);
    --title-color: hsl(0, 0%, 0%);
    --text-color: hsl(0, 0%, 35%);
    --text-color-light: hsl(0, 0%, 64%);
    --body-color: hsl(0, 0%, 87%);
    --container-color: hsl(0, 0%, 83%);

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Bai Jamjuree", sans-serif;
    --biggest-font-size: 2.5rem;
    --h1-font-size: 1.75rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

/*========== z index ==========*/
--z-tooltip: 10;
--z-fixed: 100;
}

.footer{
    background-color:var(--black-color) ;
}
.footer__container{
    padding-block: 3rem 2rem;
    row-gap: 2.5rem;
}
.footer__links{
    display: flex;
    justify-content: center;
    column-gap: 2rem;
}
.footer__link{
    color: var(--white-color);
    transition: color .4s;
}
.footer__link:hover{
    color: var(--text-color-light);

}
.footer__copy{
    color: var(--text-color-light);
    font-size: var(--small-font-size);
    text-align: center;
}
.footer__copy a{
    color: var(--white-color);
    font-weight: var(--font-medium);
}
.scrollup_container{
    position: fixed;
    right: 1rem;
    bottom:3rem;
    background-color: var(--black-color);
    display: inline-flex;
    padding: 8px;
    color: var(--white-color);
    z-index: 50;
    transition:  botton .4s, transform .4s, background-color .4s;

}

.scrollup_container:hover{
    transform: translateY(-.5rem);

}

.scrollup{
    font-size: 1.25rem;
}