:root {
    --header-height: 3.5rem;

    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: hsl(14, 98%, 50%);
    --black-color: hsl(0, 0%, 0%);
    --black-color-light: hsl(0, 0%, 40%);
    --white-color: hsl(0, 0%, 95%);
    --title-color: hsl(0, 0%, 0%);
    --text-color: hsl(0, 0%, 35%);
    --text-color-light: hsl(0, 0%, 64%);
    --body-color: hsl(0, 0%, 87%);
    --container-color: hsl(0, 0%, 83%);

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Bai Jamjuree", sans-serif;
    --biggest-font-size: 2.5rem;
    --h1-font-size: 1.75rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

/*========== z index ==========*/
--z-tooltip: 10;
--z-fixed: 100;
}



.home__container{
    padding-top: 4rem;
    margin: 0 auto;
    
}

.home__name{
    font-size: var(--biggest-font-size);
    text-align: center;
}
.home__perfil{
    position: relative;
    justify-self: center;
}
.home__image{
    width: 220px;
}
.home__img{
    position: relative;
    z-index: 10;
}

.home__swadow{
    width: 100%;
    height: 100%;
    background-color: var(--container-color);
    position:absolute;
    bottom: -.75rem;
    right: -.75rem;
    border:  4px solid var(--black-color);
    z-index: 5;

}
.home__arrow{
    left: 40%;
    bottom: -4rem;


}
.home__line{
    position: absolute;
    filter: invert(1);
    width: 50px;
    transition:  filter .4s;
    right: -2rem;
    bottom: -.5rem;
}
 
.home__social{
    height: max-content;
    position: absolute;
    left: -3rem;
    top: 0;
    bottom: 0;
    margin: auto 0;
    display: grid;
    row-gap: 1rem;

}

.home__socil-link{
    background-color: var(--black-color-light);
    color: var(--white-color);
    
    
    display: grid;
    place-items: center;
    transition: backgruond-color .3s;

}
.home__socil-link:hover{
    background-color: var(--black-color);
}
.home__info{
    margin-top: 4rem;
}
.text_description{
    text-align: center;
    color: var(--title-color);
    margin-bottom: 1.5rem;
}
.b{
    background: linear-gradient(90deg,
                        hsla(199, 98%, 50%, 0.3),
                        hsla(14, 98%, 50%, 0));
}
.home__scroll{
    display: block;
    width: max-content;
    margin: 0 auto;

}
.home__scroll-text{
    display: none;

}
.home__scroll-box{
    background-color: var(--black-color);
    color: var(--white-color );
    width: 36px;
    height: 36px;
    display: grid;
    place-items: center;
    cursor: pointer;
    overflow: hidden;
    transition: background-color .4s;
}

.home__scroll-box > i{
    animation: scroll-down 3s infinite;
    
}
@keyframes  scroll-down{
    0%{
        transform: translateY(-1rem);
        opacity: 0;
    }
    50%{
        transform: translateY(0);
        opacity: 1;
    }
    100%{
        transform: translateY(.6rem);
        opacity: 0;
    }
}


.geometric-box {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: var(--first-color);
    rotate: -30deg;
}

.geometric-box::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border: 3px solid var(--black-color);
    left: -5px;
    top: -5px;
}



