/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 3.5rem;

    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: hsla(199, 98%, 50%, 0.3);
    --black-color: hsl(0, 0%, 0%);
    --black-color-light: hsl(0, 0%, 40%);
    --white-color: hsl(0, 0%, 95%);
    --title-color: hsl(0, 0%, 0%);
    --text-color: hsl(0, 0%, 35%);
    --text-color-light: hsl(0, 0%, 64%);
    --body-color: hsl(0, 0%, 87%);
    --container-color: hsl(0, 0%, 83%);

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Bai Jamjuree", sans-serif;
    --biggest-font-size: 2.5rem;
    --h1-font-size: 1.75rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    --icon-font-size: 2rem;

    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

/*========== z index ==========*/
--z-tooltip: 10;
--z-fixed: 100;
}

.services__container{
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    
    justify-content: center;
    row-gap: 2rem;
    padding-top: 1rem;
}
.services__card{
    
    position: relative;
}
.services__content{
    height: 100%;
    background-color:var(--body-color);
    border: 4px solid var(--black-color);
    padding: 6rem 1rem 3rem;
    z-index: 5;
    position: relative;
    transition:background-color .4s, border .4s;
}
.services__border{
    position: absolute;
    width: 100%;
    height: 100%;
    border: 4px solid var(--first-color);
    top: 0;
    left: 0;
    transition: transform .4s ;
}

.services__card:hover .services__border{
    transform: translate(.75rem, .75rem);
}
.services__icon{
    position: relative;
    display: inline-block;
}

.services__icon i{
    font-size: var(--icon-font-size);
    color: var(--black-color);
    position: relative;
    z-index: 5;
}
.services__box{
    position: absolute;
    width: 24px;
    height: 24px;
    background-color: var(--first-color);
    right: -2px;
    top: -2px;
}
.services__title{
    font-size: var(--h2-font-size);
    margin-bottom: 1.25rem;
}