@tailwind base;
@tailwind components;
@tailwind utilities;


/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 3.5rem;

    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: hsla(199, 98%, 50%, 0.3);
    --black-color: hsl(0, 0%, 0%);
    --black-color-light: hsl(0, 0%, 40%);
    --white-color: hsl(0, 0%, 95%);
    --title-color: hsl(0, 0%, 0%);
    --text-color: hsl(0, 0%, 35%);
    --text-color-light: hsl(0, 0%, 64%);
    --body-color: hsl(0, 0%, 87%);
    --container-color: hsl(0, 0%, 83%);

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Bai Jamjuree", sans-serif;
    --biggest-font-size: 2.5rem;
    --h1-font-size: 1.75rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

/*========== z index ==========*/
--z-tooltip: 10;
--z-fixed: 100;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: var(--body-font);
}

html {
    scroll-behavior: smooth;
}
body {
font-family: var(--body-font);
font-size: var(--normal-font-size);
background-color: var(--body-color);
color: var(--text-color);

}
.shadow-header{
    box-shadow: 0 1px 16px hsla(0, 0%, 0%, .12);
}
.container{
    max-width: 1120px;
    margin: 0 auto;
   
} 

.grid {
    display: grid;
    gap: 1.5rem;
  }
.grid__container{
    display: grid;
    gap: 1.5rem;
}
.section{
    padding:  4rem 2rem;
    
}

.section__title-1, 
.section__title-2 {
  position: relative;
  font-size: var(--h1-font-size);
  width: max-content;
  margin: .75rem auto 2rem;
}

.section__title-1 span, 
.section__title-2 span {
  z-index: 5;
  position: relative;
}

.section__title-1::after, 
.section__title-2::after {
  content: "";
  width: 40px;
  height: 28px;
  background-color: hsla(199, 98%, 50%, 0.3);
  position: absolute;
  top: -4px;
  right: -8px;
}


.section__title-1, 
.section__title-2 {
  position: relative;
  font-size: var(--h1-font-size);
  width: max-content;
  margin: .75rem auto 2rem;
}

.section__title-1 span, 
.section__title-2 span {
  z-index: 5;
  position: relative;
}

.section__title-1::after, 
.section__title-2::after {
  content: "";
  width: 40px;
  height: 28px;
  background-color: hsla(199, 98%, 50%, 0.3);
  position: absolute;
  top: -4px;
  right: -8px;
}
h1, h2, h3, h4 {
color: var(--title-color);
font-weight: var(--font-bold);
}

ul {
list-style: none;
}

a {
text-decoration: none;
}
nav{
    height: var(--header-height);
}
.geometric-box {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: var(--first-color);
    rotate: -30deg;
}

.geometric-box::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border: 3px solid var(--black-color);
    left: -5px;
    top: -5px;
}
/* <====================contact buyyon======================> */
.button-contact{
  background-color: hsl(197, 79%, 50%);
  padding: 1.1rem 1.5rem;
  color:var(--white-color);
  font-weight: var(--font-medium);
  transition: background-color .4s;
}
.button-contact:hover{
  background-color:  hsl(197, 93%, 21%);
}
.contact__input:focus::placeholder{
  opacity: 0;
}

::-webkit-scrollbar{
  width: .6rem;
  border-radius: .5rem;
  background-color: hsl(0, 0%, 65%);

}
::-webkit-scrollbar-thumb{

  border-radius: .5rem;
  background-color: hsl(0, 0%, 55%);

}

::-webkit-scrollbar-thumb:hover{

  
  background-color: hsl(0, 0%, 45%);

}
body.dark-theme{
  --first-color: hsla(199, 80%, 50%, 0.3);
  --black-color: hsl(0, 0%, 18%);
  --black-color-light: hsl(0, 0%, 30%);
 
  --title-color: hsl(0, 0%, 95%);
  --text-color: hsl(0, 0%, 70%);
 
  --body-color: hsl(0, 0%, 8%);
  --container-color: hsl(0, 0%, 12%);

}
